* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  background: #312e38;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  
}

body,
input,
button {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
strong {
  font-weight: 500;
}

button {
  cursor: pointer;
}

header {
  padding: 12px 0;
  background-color: #28262e;
  border-bottom: 1px solid #38363b;
}

.headerContent {
  align-items: center;
  display: flex;

  max-width: 1120px;
  margin: 0 auto;

  /* justify-content: center; */
}

.logo {
  color: #ff9000;
  font-size: 30px;
  font-weight: bold;
  padding-right: 30px;
  margin-right: 20px;

  border-right: 1px solid #3a393d;
  /* border-left: #ff9000; */
}

.headerButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  height: 30px;
  margin: 0 10px;
  padding: 20px;

  background-color: #252429;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;

  border-radius: 5px;
}
