.container {
  margin-top: 100px;
}

.content {
  display: flex;
  max-width: 1120px;
  margin: 64px auto;
  /* background: red; */
}
.schedule {
  flex: 1;
  margin-right: 120px;
  max-width: 500px;
}

.schedule h1 {
  font-size: 36px;
}

.schedule p {
  margin-top: 8px;
  color: #ff9000;
  display: flex;
  align-items: center;
  font-weight: 00;
}

.schedule span {
  display: flex;
  align-items: center;
}

.schedule p span + span::before {
  content: '';
  width: 1px;
  height: 12px;
  background: #ff9000;
  margin: 0 8px;
}

.nextAppointment {
  margin-top: 30px;
}

.nextAppointment > strong {
  color: #999591;
  font-size: 20px;
  font-weight: 400;
}

.nextAppointment div {
  background: #3e3b47;
  display: flex;
  align-items: center;
  padding: 10px 24px;
  border-radius: 10px;
  margin-top: 15px;
  position: relative;
}

.nextAppointment div::before {
  position: absolute;
  height: 80%;
  width: 1px;
  left: 0;
  top: 10%;
  content: '';
  background: #ff9000;
}

.nextAppointment img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.nextAppointment #name {
  margin-left: 24px;
  color: #fff;
}

.nextAppointment span {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: #999591;
}

.nextAppointment svg {
  color: #ff9000;
  margin-right: 8px;
}

.schedule section + section {
  margin-top: 10px;
}

.schedule section > strong {
  color: #999591;
  font-size: 20px;
  line-height: 26px;
  border-bottom: 1px solid #3e3b47;
  display: block;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.appointment {
  display: flex;
  align-items: center;
}

.appointment span {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: #f4ede8;
}

.appointment svg {
  color: #ff9000;
  margin-right: 8px;
}

.appointment div {
  background: #3e3b47;

  display: flex;
  align-items: center;
  flex: 1;

  padding: 16px 24px;
  border-radius: 10px 0 0 10px;
  margin-left: 24px;

  margin-bottom: 16px;
}

.appointment div img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.appointment div strong {
  margin-left: 24px;
  color: #fff;
  font-size: 20px;
}
.appointment button {
  border: none;
  background: #3e3b47;
  align-items: center;
  padding: 16px 24px;
  border-radius: 0 10px 10px 0;
  margin-bottom: 16px;
}

.appointment button svg {
  color: #f7a539;
  margin: 0;
}

.appointment button:hover {
  background: #ca8326;
  box-shadow: hsla(36, 100%, 50%, 0.2) 0 0.5em 0.5em -0.4em;
}
input {
  align-items: center;

  color: #ff9000;
  background: #232129;

  padding: 10px;
  border-radius: 10px;
  border: 2px solid #232323;
}

.today {
  display: none;
}
