header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #28262e;
  border-bottom: 1px solid #38363b;
  box-shadow: 0 5px 10px rgba(56, 54, 59, 0.1);
  padding: 0px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.headerContent {
  display: flex;
  flex: 1;
  align-items: center;
  /* justify-content: space-between; */

  max-width: 1120px;
  /* margin: 0 auto; */
}

.logo {
  color: #ff9000;
  font-size: 30px;
  font-weight: bold;
  margin: 0 30px;
  padding-right: 30px;
  border-right: 1px solid #3a393d;
}

header .navbar ul {
  list-style: none;
}

header .navbar ul li {
  position: relative;
  float: left;
}

header .navbar ul li a {
  text-transform: uppercase;
  font-size: 20px;
  padding: 20px;
  color: #fff;
  display: block;
}

header .navbar ul li a:hover {
  background: #333;
  color: #fff;
}

#menu-bar {
  display: none;
}

header label {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  display: none;
}

/* .headerButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  height: 30px;
  margin: 0 10px;
  padding: 20px;

  background-color: #252429;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;

  border-radius: 5px;
} */

@media (max-width: 991px) {
  header {
    padding: 20px;
    justify-content: space-between;
  }

  header label {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #252429;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
  }
  header .navbar ul li {
    width: 100%;
  }

  #menu-bar:checked ~ .navbar {
    display: initial;
  }
}
