.container {
  display: flex;
  align-items: stretch;
  height: 100vh;
  margin-top: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 700px;
  margin: 0px auto;
}

form {
  margin: 80px 0;
  width: 300px;
  text-align: center;
}

form h1 {
  /* font-size: 20px; */
  margin-bottom: 24px;
}

button {
  background: #ff9000;
  height: 40px;
  width: 100%;
  border-radius: 10px;
  border: 0;
  padding: 0 16px;
  color: #29272e;
  font-weight: 500;
  margin-top: 16px;
  transition: background-color 0.2s;
}

button:hover {
  background: #ff9900da;
  box-shadow: hsla(36, 100%, 50%, 0.3) 0 0.5em 0.5em -0.4em;
}

.containerInput {
  display: flex;
  align-items: center;
  flex: 1;
}

/* .containerInputError {
  border: 2px solid #c53030;
  border-radius: 10px;
} */

/* .containerInput {
  display: flex;
  align-items: center;

  background: #232129;
  border-radius: 10px;
  padding: 10px;
  width: 100%;

  border: 2px solid #232323;
  color: #666360;
} */

.containerInput + .containerInput {
  margin-top: 8px;
}

input {
  display: flex;
  flex: 1;
  align-items: center;

  color: #f4ede8;
  background: #232129;

  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #232323;
}

.valid {
  border-color: #ff9000;
}

input:focus {
  border-color: #ff9000;
}

input:valid {
  border-color: #ff9000;
}

.inputError {
  border-color: #c53030;
}

/* input {
  flex: 1;
  background: transparent;
  color: #f4ede8;
  border: 0;
} */

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #ffffff !important;
  background-color: #fff !important;
}

input::placeholder {
  color: #666360;
}

.tooltip {
  position: relative;
}

.tooltip span {
  width: 160px;
  background: #3ee64c;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  transition: opacity 0.4s;
  visibility: hidden;

  position: absolute;
  bottom: calc(100% + 12px);
  left: 50%;
  transform: translateX(-50%);
  color: #312e38;
}

.tooltipVisible {
  visibility: visible !important;
}

.erro {
  background: #ee1a0b !important;
  color: #fff !important;
}
.tooltip span::before {
  content: '';
  border-style: solid;
  border-color: #3ee64c transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  top: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip span:hover span {
  opacity: 1;
  visibility: visible;
}
